<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>POC -  Consulta de conteúdo e visualização do documento</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">


  <form>

    <input type="text" name="texto" pInputText [(ngModel)]="filtro.texto"/>

  </form>


  <p-button (click)="pesquisar()">Pesquisar</p-button>


  <p-table [value]="documentos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Arquivo</th>
        <th>Conteúdo</th>
        <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-documento>
      <tr>
        <td>{{documento.id}}</td>
        <td>{{documento.fileName}}</td>
        <td>{{documento.content}}</td>
        <td>
          <p-button (click)="visualizar(documento.id)">Visualizar</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>



  <p-dialog header="PDF Viewer" [modal]="true" [(visible)]="showDialog">

<!--    <small>-->
<!--      Copyright hint: the PDF file has been published by <a href="https://de.linkedin.com/in/stephan-rauh-a6a398aa">Stephan-->
<!--      Rauh</a> on-->
<!--      <a href="https://www.beyondjava.net/page/beyondjava-conference">BeyondJava.net</a> under a-->
<!--      <a target="#" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/de/">Creative Commons-->
<!--        Attribution-NonCommercial-NoDerivs 3.0 Germany License.<br /></a> </small>-->



  </p-dialog>

<!--      <ngx-extended-pdf-viewer-->
<!--        [src]="'/assets/documentos/DOU_EDICAO_79.pdf'"-->
<!--        [height]="'auto'"-->
<!--        [textLayer]="true"-->
<!--        [showHandToolButton]="true"-->
<!--        [filenameForDownload]="'DIÁRIO OFICIAL DA UNIÃO'">-->
<!--      </ngx-extended-pdf-viewer>-->



  <app-example-pdf-viewer></app-example-pdf-viewer>



</div>


<router-outlet></router-outlet>
