<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>POC -  Consulta de conteúdo e visualização do documento</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">


  <form>

    <input type="text" name="texto" pInputText [(ngModel)]="filtro.texto"/>

  </form>


  <p-button (click)="pesquisar()">Pesquisar</p-button>


  <p-table [value]="documentos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Arquivo</th>
        <th>Conteúdo</th>
        <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-documento>
      <tr>
        <td>{{documento.id}}</td>
        <td>{{documento.fileName}}</td>
        <td>{{documento.content}}</td>
        <td>
          <p-button (click)="visualizar(documento.id)">Visualizar</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>


  <ngx-doc-viewer
    [url]="'http://localhost:9001/api/v1/download-shared-object/aHR0cDovLzEyNy4wLjAuMTo5MDAwL2RvY3VtZW50b3MtZHN2L0VESVRBTCUyMFBPTElDSVRBJTIwRkVERVJBTC5kb2N4P1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9Q1lMNTlPMUlSV0dJWlNSVTVVTjElMkYyMDI1MDYyOSUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyNTA2MjlUMTIyMTQ4WiZYLUFtei1FeHBpcmVzPTQzMjAwJlgtQW16LVNlY3VyaXR5LVRva2VuPWV5SmhiR2NpT2lKSVV6VXhNaUlzSW5SNWNDSTZJa3BYVkNKOS5leUpoWTJObGMzTkxaWGtpT2lKRFdVdzFPVTh4U1ZKWFIwbGFVMUpWTlZWT01TSXNJbVY0Y0NJNk1UYzFNVEkwTWpnNE9Dd2ljR0Z5Wlc1MElqb2liV2x1YVc5aFpHMXBiaUo5Lk12R3QwYjJjZ01HLUFZZVlvY1RZV180YlJCNms2ZlAtTW5hZDFHZHNveUxGZmlud2J1SEJIaV9QSDEtaUlsUVY1Zkg0dnM1YzJyclk2b1dIbGF0OHJBJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZ2ZXJzaW9uSWQ9bnVsbCZYLUFtei1TaWduYXR1cmU9YjJiMTcxNTRmZGIyNGI1MjRjN2MwNjAxMzRlYmQyOGM2MWE2ZWQ0YjI3NDAzZDBjZTlhMGY5YWE0N2JiN2ViYg'"
    viewer="url"
    style="width:100%;"
  >
  </ngx-doc-viewer>

</div>


<router-outlet></router-outlet>
